<div class="editor-box" id="CriarFormularios">
  <%= form_with model: @formulario, local: true do |f| %>
    <label>Template:
      <%= f.select :template_id, options_from_collection_for_select(@templates, :id, :nome) %>
    </label>
    <br>
    <label>Nome do Formulário:
      <%= f.text_field :nome %>
    </label>
    <br>
    <label>Data de Término:
      <%= f.date_field :dataDeTermino %>
    </label>
    <br>
    <table>
      <tr>
        <th style="width: 10%; padding: 5px;"></th>
        <th style="width: 22.5%; padding: 10px;">Disciplina</th>
        <th style="width: 22.5%; padding: 10px;">Semestre</th>
        <th style="width: 22.5%; padding: 10px;">Class Code</th>
      </tr>
      
      <% @turmas.each do |turma| %>
        <tr>
          <td><%= check_box_tag "formulario[turma_ids][]", turma.id %></td>
          <td><%= turma.disciplina.codigo %></td>
          <td><%= turma.semestre %></td>
          <td><%= turma.class_code %></td>
        </tr>
      <% end %>
    </table>

    <%= f.submit "Criar", class: "send-template-button" %>
  <% end %>
</div>
