<%= stylesheet_link_tag "edit" %>
<body>
    <div class='edit-container'>
        <div class='edit'>
            <div class='titulo'>
                <%= "Editar Template: " + @template.nome %>
            </div>
            <%= form_with(model: @template, local: true, method: :patch) do |template_form| %>
                <div class="nome-container">
                    <%= template_form.label :nome, "Nome do Template" %>
                    <%= template_form.text_field :nome, class: 'form-control' %>
                </div>

                <h2>Editar Questões</h2>
                <div class='questaos-container'>
                    <% @template.questaos.each do |questao| %>
                        <div class='questao'>
                            <%= template_form.fields_for :questaos, questao do |questao_form| %>
                                <div class='questao-pergunta'>
                                    <%= questao_form.label :pergunta, "Título da Questão:" %>
                                    <%= questao_form.text_field :pergunta, class: 'form-control pergunta' %>
                                </div>

                                <h3>Editar Alternativas</h3>
                                <div class='alternativas-container'>
                                    <% questao.alternativas.each do |alternativa| %>
                                        <div class='alternativa'>
                                            <%= questao_form.fields_for :alternativas, alternativa do |alternativa_form| %>
                                                <%= alternativa_form.text_field :texto, class: 'form-control' %>
                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                                <%= button_to "Deletar", template_questao_path(@template, questao), method: :delete, class: "delete-button" %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
    
                <div class='buttons'>
                    <%= template_form.submit "Confirmar Alteração no Template", class: 'btn btn-success' %>
                    <%= link_to "Voltar para Home Docente", home_docente_path, class: 'btn btn-secondary' %>
                </div>
            <% end %>
        </div>
        <!--<div class='criar-container'>
            <h2>Adicionar Questões</h2>
            <div class='criar-questao'>
                
            </div>
        </div>-->
    </div>
</body>
